@use "../../styles/mixins.scss";
@use "../../styles/variable.scss" as *;

.hidden {
    display: none;
}

.displayContainer {
    // color: black;
    pointer-events: all;
    position: relative;
    width: auto;
}

.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button {
    @include mixins.submitButton;

    &.add {
        width: 93%;
        background: $gold;
        margin-top: 20px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        // padding: 0;
        display: inline;
    }
}
