.hidden {
    display: none;
}
.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.detailsContainer {
    display: flex;
    justify-content: space-between;
}
.arrow {
    display: flex;
    align-items: center;
}

.reviewImage{
    border: 1px solid red;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    background: white;
}
.imageAndDetails{
    display: flex;
}
.detailsInner {
    display: none;
}
.activeReview {
    display: block;
}
