
.scrollContainer {
    height: 100dvh;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: y proximity;
    // pointer-events: none;
    outline: 5px solid green;
    overscroll-behavior: none;
}
