@use "../../styles/variable.scss" as *;


.detailsContainer {
    // display: flex;
    outline: 1px solid red;
    overflow: scroll;
    // overscroll-behavior: contain;
    height: calc(100dvh - var(--scrollTop)) !important;
    max-height: calc(100dvh - 150px);
    justify-content: space-between;
}

.arrow {
    display: flex;
    align-items: center;

    &.left {
        padding-right: 5px;
    }

    &.right {
        padding-left: 5px;
    }
}

.count {
    display: none;
}

.reviewImage {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    background: white;
    margin-bottom: 10px;
}

.imageAndDetails {
    display: flex;
}

.detailsInner {
    // display: none;
    width: 100%;
    border-bottom: 1px solid grey;
}

.activeReview {
    display: block;
}

.details {
    width: 100%;
    margin-left: 10px;
}

.reviewDetail {
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: 14px;

    &.group {
        margin-bottom: 10px;
    }

    &.name {
        font-weight: 900;
        margin-bottom: 5px;
    }

    &.price {
        font-weight: 900;
        font-size: 14px;
        margin-right: 5px;
        min-width: 40px;
    }

    .value {
        font-weight: 600;
        margin-right: 5px;

        &.createdAt {
            font-weight: 400;
            font-size: 11px;
            margin-left: auto;
        }
    }

    &.comments {
        display: block;
        // background: #EFF3F6;
        border-radius: 5px;
        min-height: 50px;
        // padding: 0 5px 5px 5px;
        font-size: 12px;

        .value {
            padding-top: 5px;
            font-weight: lighter;
            display: block;
        }
    }
}

.ratingContainer {
    display: flex;
    align-items: center;
}

.star {
    filter: greyscale(100%);
    opacity: 0.5;

    &.active {
        filter: greyscale(0%);
        opacity: 1;
    }
}
