@use "./variable.scss" as *;
@mixin input {
    width: 100%;
    background:none;
    border-style: none;
    border: 1px solid $grey;
    border-radius: 5px;
    height: 34px;
    margin-bottom: 7px;
    padding-left: 7px;
    font-size: 16px;
    color: $font;

    &.comment {
        height: 40px;
        margin-bottom: 10px;
    }

    &:focus {
        outline: none;
    }
}

@mixin label {
    display: block;
    margin-bottom: 5px;
    // color: #F0D878;
    font-size: 16px;
    font-weight: 600;
}

@mixin submitButton {
    background: white;
    border-radius: 15px;
    padding: 10px;
    color: black;
}

@mixin textArea {
    @include input;
    padding-top: 7px;
}
