.addingOverlayContainer {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    z-index: 99;
    pointer-events: none;
}
.instructions {
    position: absolute;
    top: 0;
    width: 100dvw;
    color: black;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.active {
    display: block;
}
.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: auto;
}
