@use "../../styles/mixins";
@use "../../styles/variable.scss" as *;


.scrollBuffer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 40%;
    outline: 1px solid red;
    // scroll-snap-align:end;
}
.infoPanel,
.loading {
    position: absolute;
    z-index: 100;
    top: 60%;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    background:$background;
    border-radius: 15px 15px 0 0;
    padding: 5px 15px 15px 15px;
    min-height: 400px;
    pointer-events: all;
    color: $font;
    scroll-snap-align:end;
    scroll-margin-bottom: 75dvh;
}

.dragHandle {
    width: 50px;
    height: 5px;
    border-radius: 10px;
    background: grey;
    margin: 0 auto;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.form {
    height: 100%;
    position: relative;
}

.imageAndInputsContainer {
    display: flex;
}

.inputsContainer {
    padding: 0 0 0 10px;
    width: 100%;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 5px;

    label {
        margin-right: 5px;
        margin-bottom: 0;
    }
}

.input {
    @include mixins.input;

    &.comment {
        @include mixins.textArea;
    }
}

.label {
    @include mixins.label;

    &.comment {
        margin-top: 10px;
    }
}


.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    left: 0;
}

.save,
.cancel,
.back {
    @include mixins.submitButton;
}

.save,
.cancel {
    width: 49%;
}

.save {
    background: $gold;
}
