@use "../../styles/mixins.scss";

.camera {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.openCamera {
    display: block;
}

.camera video {
    width: 100vw;
    max-height: 100vh;
}

.captureImage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.confirmingOutput {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 105;
    display: none;
}

.confirmingOutput.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmingOutput img {
    height: auto;
    max-height: 100vh;
}

.previewCanvas,
.captureArea {
    position: absolute;
    top: 0%;
}

.captureAreaContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    pointer-events: none;
    overflow: hidden;
}

.captureArea {
    z-index: 103;
    transform: translateX(-50%);
    left: 50%;
    pointer-events: none;
}

.captureArea::after {
    content: "";
    position: absolute;
    z-index: 103;
    top: 0%;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background: black;
}

.captureArea::before {
    content: "";
    position: absolute;
    z-index: 103;
    top: 0%;
    right: 100%;
    width: 100vw;
    height: 100vh;
    background: black;
}

@media (max-width: 500px) {

    .previewCanvas,
    .captureArea {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .captureArea::after {
        left: unset;
        top: 100%;
    }

    .captureArea::before {
        right: unset;
        transform: rotate(180deg);
        transform-origin: top;
    }
}

.optionButtons {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 104;

    .button {
        background: white;
    }
}

.canvas {
    display: none;
}

.output {
    width: 100px;
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output img {
    width: 100%;
}

.button {
    color: black;
    background: white;
    width: 100px;
    // height: 20px;
    margin: 0 auto;
    margin-top: 7px;
    // margin-bottom: 10px;
    display: block;

    &.takePhoto {
        // @include mixins.submitButton;
        background: black;
        color: white;
        border-radius: 7px;
        padding: 5px;
        font-size: 14px;
        margin-top: 15px;
    }
}
