.camera {
    /* border: 1px solid red; */
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.openCamera {
    display: flex;
}

.captureImage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.captureImage video {
    width: 100vw;
    ;
    max-height: 100vh;
    ;
    /* aspect-ratio: 1 / 1; */
    /* border: 2px solid blue; */
}

.openCamera {
    display: block;
}

.camera video {
    width: 100vw;
    
    max-height: 100vh;
}

.confirmingOutput {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
    display: none;
}

.confirmingOutput.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmingOutput img {
    height: auto;
    /* max-width: 100%; */
    max-height: 100vh;
    /* border: 4px solid green; */
    /* aspect-ratio: var(--photoAspectRation); */

}

.previewCanvas {
    /* border: 2px solid red; */
    position: absolute;
    top: 0%;
    /* transform: translateY(-50%); */
    /* height: 100%; */
    /* height: 766px; */
    /* width: 766px; */
    /* height: 400px;; */
    /* width: 400px; */
}
.optionButtons {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.canvas {
    display: none;
}

.output {
    width: 100px;
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output img {
    width: 100%;
}
